body {
			width: 200px;
			text-align: center;
			background-color: #3498db;
			color: #fff;
		}
		.remaining {
			font-size: 25px;
			margin: 30px 0;
			border: 1px solid #fff;
		}
		input {
			width: 45%;
		}